/* style.css */

.containerC {
  width: 100%;
  height: auto;
  padding: 23px;
  padding-top: 3px;
  

  }
  .containerC h2 {
    color: #D8942F;
  }

 
  
  .form-groupC {
    margin-bottom: 20px;
  }

  .form-groupC label {
    margin-bottom: 5px; /* Ajoute un petit espacement en bas des labels */
     /* Affiche chaque label sur une ligne séparée */
  }
  
  .form-controlC {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0000002e;
    border-radius: 4px;
    transition: border-color 0.3s ease; /* Transition sur la couleur de la bordure */
  }
  .form-controlR {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  .form-controlC:focus {
    border: 1px solid #D8942F; /* Changement de couleur de la bordure lorsqu'en focus */
  }
  
  .form-control-fileC {
    width: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    transition: border-color 0.3s ease; /* Transition sur la couleur de la bordure */
  }
  
  .btn-primaryC {
    background-color: #D8942F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color 0.3s ease; /* Transition sur la couleur de fond */
  }
  
  .btn-primaryC:hover {
    background-color: #a87933;
    color: #fff;
  }
  